@font-face {
    font-family: "Gothic-A1 Regular";
    src: url(../fonts/Gothic_A1/GothicA1-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "MedievalSharp Regular";
    src: url(../fonts/MedievalSharp/MedievalSharp-Regular.ttf);
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Gothic-A1 Regular";
    background-image: url(../img/smoke-bg.jpg);
    color: white;
}

h1, h2, h3 , a {
    font-family: "MedievalSharp Regular";
    text-transform: uppercase;
}

h1, h2 {
    color: #f9cfa4;
    font-size: 3rem;
}

h3 {
    color: white;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}

.cta {
    padding: 1rem 1.5rem;
}

.cta-primary {
    color: black;
    background-color: #f9cfa4;
    border-radius: 0.5rem;
}

.cta-secondary {
    color: white;
    backdrop-filter: blur(20px);
    border: 1px solid #be9978;
    border-radius: 0.5rem;
    font-size: 2.5rem;
}

.cta-third {
    color: white;
    backdrop-filter: blur(20px);
    border: 1px solid #be9978;
    border-radius: 0.5rem;
}

.cta-four {
    padding: 0;
    color: #be9978;
}

.cta-five {
    color: white;
    backdrop-filter: blur(40px);
    border: 1px solid #be9978;
    border-radius: 0.9rem;
    text-transform: inherit;
    font-size: 1.5rem;
}

.cta-six {
    padding: 0;
    color: #be9978;
    text-transform: none;
}

.container {
    width: 100%;
    max-width: 1550px;
    margin: 0 auto;
    padding: 0.9rem 4rem;
}

.container-navbar {
    width: 100%;
    margin: 0;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-image: url(../img/cloud-header.png);
    background-size: contain;
}

.logo-container {
    width: 15%;
}

.logo-bg3 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav-lists {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.nav-list {
    font-family: "MedievalSharp Regular";
    color: #f9cfa4;
}

.container-hero {
    width: 100%;
}

.hero {
    position: relative;
    z-index: -1;
}

.video-hero {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content {
    position: absolute;
    left: 50%;
    bottom: 10%;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f9cfa4;
    text-transform: uppercase;
    transform: translate(-50%);
}

.awards {
    margin-top: 4rem;
    padding: 2rem;
    width: 70%;
    display: flex;
    align-items: center;
    border: 1px solid #be9978;
    border-radius: 0.5rem;
    background-image: url(../img/awards-bg.png);
    background-size: cover;
}

.award {
    width: 30%;
}

.award h2, h3 {
    margin: 0;
}

.award-logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.races {
    width: 90%;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
}

.races-contents {
    display: flex;
    justify-content: space-between;
}

.race-content {
    border: 1px solid #be9978;
    border-radius: 0.5rem;
}

.race-previews {
    width: 45%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 3rem 2rem;
    font-family: "MedievalSharp Regular";
    background-image: url(../img/races-bg.jpg);
    background-size: cover;
}

.race-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    color: white;
}

.container-heads {
    width: 55%;
    margin-bottom: 1rem;
}

.heads {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.race-result {
    width: 52%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem 2rem;
    color: #be9978;
}

.container-head {
    width: 15%;
    margin-bottom: 1rem;
}

.container-line {
    position: relative;
}

.race-result h2::before {
    position: absolute;
    left: -98%;
    bottom: 28.5%;
    content: url(../svg/decoration-line--before.svg);
    width: 10%;
    height: 10%;
}

.race-result h2::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 10%;
    display: block;
    width: 13rem;
    border-bottom: 1px solid #be9978;
    transform: translate(-50%, -50%);
}

.race-result h2 {
    color: #be9978;
}

.race-result p {
    margin-bottom: 4rem;
}

.race-result p::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0%;
    display: block;
    width: 100%;
    border-bottom: 1px solid #be9978;
    transform: translate(-50%, -50%);
}

.container-buy {
    width: 100%;
}

.buy {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    background-image: url(../img/buy-now-background.jpg);
    background-size: cover;
    background-position: center;
}

.buy-img-container {
    width: 35%;
}

.buy-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.buy-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buy-content h2 {
    color: #be9978;
    margin-top: 0;
}

.buy-content p:first-of-type {
    margin-top: 2.49rem;
}

.buy-content p {
    max-width: 80%;
    margin-top: 0;
}

.buy-lists {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.update {
    width: 90%;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
}

.update h2 {
    font-size: 2.4rem;
}

.update-contents {
    display: flex;
    justify-content: space-between;
}
.card-update {
    position: relative;
    width: 30%;
    outline: 1px solid #be9978;
    border-radius: 0.5rem;
}

.update-2 {
    background-image: url(../img/news-1.jpg);
    background-size: cover;
    background-position: center;
}

.update-1 {
    background-image: url(../img/news-2.jpg);
    background-size: cover;
    background-position: center;
}

.ps5 {
    background-image: url(../img/news-3.jpg);
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in;
}

.overlay:hover {
    background-color: none;
}

.card-body {
    z-index: 1;
}

.card-body h2 {
    font-size: 1.7rem;
}

.card-bodyt p {
    max-width: 85%;
}

.gallery {
    width: 90%;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: self-end;
}

.gallery-contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery-content {
    width: 24%;
    margin-bottom: 1rem;
    transition: all 0.2s ease-in;
    border-image: fill 1 linear-gradient(rgba(0, 0, 0, 0.3));
    border-radius: 0.5rem;
    overflow: hidden;
}

.gallery-content:hover {
    border: 1px solid #be9978;
}

.gallery-img {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.downloads {
    margin-top: 4rem;
    padding-left: 0;
    padding-right: 0;
    width: 65%;
    border: 1px solid #be9978;
    border-radius: 0.5rem;
}

.downloads-content {
    background-image: url(../img/cta-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

.download-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.downloads-content h3 {
    margin-left: 4rem;
    max-width: 53%;
    font-family:  "Gothic-A1 Regular";
    text-transform: none;
}

.downloads-content h2 {
    margin-left: 4rem;
}

.downloads-content p {
    margin-left: 4rem;
    max-width: 53%;
    font-size: 1.5rem;
}

.downloads-content a {
    margin-left: 4rem;
}

.footer {
    width: 90%;
    margin-top: 4rem;
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #be9978;
    border-bottom: 1px solid #be9978;
}

.footer-content {
    width: 28%;
}

.footer-content-lists {
    width: 55%;
    display: flex;
    justify-content: space-between;
}

.footer-content-list {
    margin-top: 1.5rem;
}

.footer-content-list h2 {
    font-size: 1.5rem;
}

.footer-content-list li {
    margin-bottom: 0.5rem;
}

.privacy {
    width: 90%;
    padding-left: 0;
    margin-bottom: 4rem;
}

.privacy ul {
    display: flex;
    gap: 1rem;
}

.privacy a {
    color: white;
    text-transform: none;
    font-family:  "Gothic-A1 Regular";
}