@font-face {
    font-family: "Gothic-A1 Regular";
    src: url(../fonts/Gothic_A1/GothicA1-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "MedievalSharp Regular";
    src: url(../fonts/MedievalSharp/MedievalSharp-Regular.ttf);
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Gothic-A1 Regular";
    background-image: url(../img/smoke-bg.jpg);
}

h1, h2, h3 , a {
    font-family: "MedievalSharp Regular";
    text-transform: uppercase;
}

h1, h2 {
    color: #f9cfa4;
    font-size: 3rem;
}

h3 {
    color: white;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}

.cta {
    padding: 1.5rem;
}

.cta-primary {
    color: black;
    background-color: #f9cfa4;
    border-radius: 0.5rem;
}

.cta-secondary {
    color: white;
    backdrop-filter: blur(20px);
    border: 1px solid #f9cfa4;
    border-radius: 0.5rem;
    font-size: 2.5rem;
}

.container {
    width: 100%;
    max-width: 1550px;
    margin: 0 auto;
    padding: 0.9rem 4rem;
}

.container-navbar {
    width: 100%;
    margin: 0;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-image: url(../img/cloud-header.png);
    background-size: contain;
}

.logo-container {
    width: 15%;
}

.logo-bg3 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav-lists {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.nav-list {
    font-family: "MedievalSharp Regular";
    color: #f9cfa4;
}

.container-hero {
    width: 100%;
}

.hero {
    position: relative;
    z-index: -1;
}

.video-hero {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content {
    position: absolute;
    left: 50%;
    bottom: 10%;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f9cfa4;
    text-transform: uppercase;
    transform: translate(-50%);
}

.awards {
    margin-top: 4rem;
    padding: 2rem;
    width: 70%;
    display: flex;
    align-items: center;
    border: 1px solid #f9cfa4;
    border-radius: 0.5rem;
    background-image: url(../img/awards-bg.png);
    background-size: cover;
}

.award {
    width: 30%;
}

.award h2, h3 {
    margin: 0;
}

.award-logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}